# HW2 - PyBank Python Homework

## Setup imports and csv

In [1]:
# Imports
from pathlib import Path
import pandas as pd
import numpy as np

In [2]:
# Read csv file
path = Path('../PyBank/Resources/budget_data.csv')

# Create dataframe
df = pd.read_csv(path)

df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [3]:
# Assign columns to their own variables
dates = df['Date']
pnl = df['Profit/Losses']
print(dates.head())
print()
print(pnl.head())

0    Jan-2010
1    Feb-2010
2    Mar-2010
3    Apr-2010
4    May-2010
Name: Date, dtype: object

0    867884
1    984655
2    322013
3    -69417
4    310503
Name: Profit/Losses, dtype: int64

## The total number of months included in the dataset

In [4]:
# Get the number of entries under the 'Date' column
totalMonths = int(len(dates))
print(f'Total Months: {totalMonths}')

Total Months: 86

## The net total amount of Profit/Losses over the entire period

In [5]:
# Get the sum of the values under the 'Profit/Losses' column
netTotal = sum(pnl)
print(f'Total: ${netTotal:,}')

Total: $38,382,578

## The average of the changes in Profit/Losses over the entire period

In [6]:
# Create a new column for the month-to-month change
df['Change'] = pnl.diff()

# Assign 'Change' column to a variable
change = df['Change']
print(change.head())

df.head()

0         NaN
1    116771.0
2   -662642.0
3   -391430.0
4    379920.0
Name: Change, dtype: float64

       Date  Profit/Losses    Change
0  Jan-2010         867884       NaN
1  Feb-2010         984655  116771.0
2  Mar-2010         322013 -662642.0
3  Apr-2010         -69417 -391430.0
4  May-2010         310503  379920.0

In [7]:
# Get the average change in profit/losses
avgChange = change.mean()
print(f'Average Change: ${avgChange:,.2f}')

Average Change: $-2,315.12

## The greatest increase in profits (date and amount) over the entire period

In [8]:
# Get the greatest increase
max = int(change.max())

# Get the date of the greatest increase
maxDate = df.loc[change == max, 'Date'].iloc[0]

print(f'Greatest Increase in Profits: {maxDate} (${max:,})')

Greatest Increase in Profits: Feb-2012 ($1,926,159)

## The greatest decrease in losses (date and amount) over the entire period

In [9]:
# Get the greatest decrease
min = int(change.min())

# Get the date of the greatest decrease
minDate = df.loc[change == min, 'Date'].iloc[0]

print(f'Greatest Decrease in Profits: {maxDate} (${min:,})')

Greatest Decrease in Profits: Feb-2012 ($-2,196,167)

## Print and save the analysis

In [10]:
# Print the results in the terminal
print('Financial Analysis')
print('----------------------------')
print(f'Total Months: {totalMonths}')
print(f'Total: ${netTotal:,}')
print(f'Average Change: ${avgChange:,.2f}')
print(f'Greatest Increase in Profits: {maxDate} (${max:,})')
print(f'Greatest Decrease in Profits: {maxDate} (${min:,})')

Financial Analysis
----------------------------
Total Months: 86
Total: $38,382,578
Average Change: $-2,315.12
Greatest Increase in Profits: Feb-2012 ($1,926,159)
Greatest Decrease in Profits: Feb-2012 ($-2,196,167)

In [11]:
# Write the financial analysis to a .txt file
output = 'financial_analysis.txt'
with open(output, 'w') as file:
    file.write('Financial Analysis\n')
    file.write('----------------------------\n')
    file.write(f'Total Months: {totalMonths}\n')
    file.write(f'Total: ${netTotal:,}\n')
    file.write(f'Average Change: ${avgChange:,.2f}\n')
    file.write(f'Greatest Increase in Profits: {maxDate} (${max:,})\n')
    file.write(f'Greatest Decrease in Profits: {maxDate} (${min:,})\n')